body {
  font-family: 'Roboto', sans-serif;
  color: #252525;
}

header {
  float: left;
  width: 100%;
  background-color: lightblue;
}

.logo {
  float: left;
  margin-left: 5%;
  width: 45%;
  text-align: left;

}

nav {
  float: right;
  text-align: right;
  color: darkgrey;
  font-size: 20px;
  width: 45%;
  margin-right: 5%;
  margin-top: 5%;
}
nav li{
  display: inline-block;
  width: 20%;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
